<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Secret</title>
</head>
<body>
    <h1>Secret</h1>
    <form action="/logout" method="POST">
        <button>Sign Out</button>

    </form>
</body>
</html>